* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3D087B;
}

.main_container {
    display: flex;
}

.container1 {
    position: relative;
    flex: 50%;
}

.clocklogo {
    background-image: url(./clock_logo.png);
    background-repeat: no-repeat;
    top: 2vh;
    left: 5vw;
    width: 204px;
    height: 77px;
    position: absolute;
    display: flex;
}

.set-time {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: absolute;
    flex-direction: column;
    top: 16vh;
    left: 4vw;
    width: 41vw;
    height: 45vh;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

.set-wake-time-content {
    display: flex;
    justify-content: space-evenly;
    color: #3D087B;
}

.set-lunch-time-content {
    display: flex;
    justify-content: space-evenly;
    color: #3D087B;
}

.set-nap-time-content {
    display: flex;
    justify-content: space-evenly;
    color: #3D087B;
}

.set-night-time-content {
    display: flex;
    justify-content: space-evenly;
    color: #3D087B;
}

select {
    width: 14vw;
    height: 7vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
    color: #3D087BDE;
}

.line {
    font-size: 1.8rem;
    margin-left: 5vw;

}

/* p {
    margin-top: 15px;
    color: #3D087B;
} */

.good_morning {
    top: 63vh;
    left: 4vw;
    width: 41vw;
    height: 12vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
    position: absolute;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
}

.good_morning p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
     color:black;
     margin-top: 15px; 
}

.alram {
    color: #ffffff;
    font-size: 2rem;
    font: normal normal 600 24px/38px Manrope;
    position: absolute;
    top: 78vh;
    left: 4vw;
    width: 21vw;
    height: 4vw;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.alram p {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;
}

.alram:hover {
    background: transparent linear-gradient(280deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.time_show {
    top: 78vh;
    left: 26vw;
    width: 19vw;
    height: 10vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
    position: absolute;
    font-size: 1.3rem;
padding-top: 2vh;
padding-left: 1vw;
}
.timewritten{
    font-size:1rem;
}
.container3{
    position: relative;
    flex: 50%;
}

.trans3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    position: absolute;
    top: 5vh;
    width: 44vw;
    height: 19vh;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

.hours {
    background-image: url(./timeline.png);
    width: 6vw;
    height: 14vh;
    opacity: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F0089;
    padding-left:1vw;
}

.minutes {
    background-image: url(./timeline.png);
    /* background-repeat: no-repeat; */
    width: 6vw;
    height: 14vh;
    opacity: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F0089;
    padding-left: 1vw;
}

.seconds {
    background-image: url(./timeline.png);
    /* background-repeat: no-repeat; */
    width: 6vw;
    height: 14vh;
    opacity: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F0089;
    padding-left: 1vw;

}

.am-pm {
    background-image: url(./AM_svg.png);
    background-repeat: no-repeat;
    width: 6vw;
    height: 14vh;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #3D087B; 
}

.trans1 {
    top: 10vh;
    left: 2vw;
    width: 40vw;
    height: 18vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
    position: absolute;
}

.trans2 {
    top: 8vh;
    left: 1vw;
    width: 42vw;
    height: 18vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.51;
    position: absolute;
}

.time {
    font-size: 2rem;
    color: #3D087B;
}

.semicolon {
    font-size: 4rem;
    color: #8A11BF;
}

.point {
    text-align: center;
    font: normal normal 900 30px/40px Bauhaus Hv BT;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    font-size: 2rem;
    top: 30vh;
    width: 44vw;
    height: 15vh;
    
}
.point p{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.image {
    position: absolute;
    top: 24vh;
    left: 0vw;
    display: flex;
    width: 44vw;
    height: 50vh;
}

@media only screen and (min-width:501px) and (max-width:950px){
    .main_container {
    flex-direction: column;
}
.container3{
    top: 110vh;
}
.clocklogo{
left: 12vw;
top: 1vh;
}
.set-time{
    left: 7vw;
    width: 86vw;
    top: 15vh;
    height: 46vh;
}
.line{
    position: relative;
    left: 8vw;
}
select{
    width: 25vw;
}
.good_morning{
    left: 7vw;
    width: 86vw;
    height: 14vh
}
.alram{
    left: 7vw;
    width: 86vw;
    height: 12vh;
    font-size: 2rem;
}
.time_show{
    left: 7vw;
    width: 86vw;
    height: 20vh;
    /* font-size: 2rem; */
    top: 91vh;
}
/* .timewritten{
    font-size: 0.8rem;
} */
.trans1{
    left: 10vw;
    width: 77vw;
}
.trans2{
    left: 8vw;
    width: 82vw;
}
.trans3{
    left: 6vw;
    width: 87vw;
}
.point{
    left: 7vw;
    width: 87vw;
    height: 16vh;
    /* font-size: 2rem; */
}
.image{
    left: 4vw;
    width: 85vw;
}
.hours{
    width: 11vw;
    padding-left: 3vw;
    /* font-size: 2rem; */
}
.minutes{
    width: 11vw;
    padding-left: 3vw;
    /* font-size: 2rem; */
}
.seconds{
    width: 11vw;
    padding-left: 4vw;
    /* font-size: 2rem; */
    
}
.am-pm{
    width: 11vw;
    /* font-size: 2rem; */

}
}
@media only screen and (min-width:300px) and (max-width:500px){
    .main_container {
    flex-direction: column;
}
.container3{
    top: 110vh;
}
.clocklogo{
    top: 1vh;
left: 12vw;
}
.set-time{
    top: 15vh;
    left: 7vw;
    width: 86vw;
    height: 46vh;
}
.line{
    position: relative;
    left: 6vw;
}
select{
    width: 25vw;
}
.good_morning{
    left: 7vw;
    width: 86vw;
    height: 13vh;
}
.good_morning p{
    font-size: 1.2rem;
}
.alram{
    left: 7vw;
    width: 86vw;
    height: 12vh;
    font-size: 2rem;
}
.time_show{
    left: 7vw;
    width: 86vw;
    height: 18vh;
    font-size: 0.9rem;
    top: 91vh;
}
.trans1{
    left: 10vw;
    width: 77vw;
}
.trans2{
    left: 8vw;
    width: 82vw;
}
.trans3{
    left: 6vw;
    width: 87vw;
}
.point{
    left: 7vw;
    width: 87vw;
    font-size: 1.2rem;
}
.image{
    left: 4vw;
    width: 85vw;
}
.time1{
    font-size: 1.3rem;
}
.hours{
    width: 11vw;
    padding-left: 2vw;
    font-size: 1.3rem;
}
.minutes{
    width: 11vw;
    padding-left: 2vw;
    font-size: 1.3rem;
}
.seconds{
    width: 11vw;
    padding-left: 3vw;
    font-size: 1.3rem;
}
.am-pm{
    width: 11vw;
    font-size: 1.3rem;
}
}
